<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCamkdeiAtKaWSncMZV3VakQHpdcdI-izY</string>
	<key>GCM_SENDER_ID</key>
	<string>213405173652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VolunteeringApp.fetchApp</string>
	<key>PROJECT_ID</key>
	<string>fetch-a-cause</string>
	<key>STORAGE_BUCKET</key>
	<string>fetch-a-cause.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213405173652:ios:8444eb5985e311c0233181</string>
	<key>DATABASE_URL</key>
	<string>https://fetch-a-cause-default-rtdb.firebaseio.com</string>
</dict>
</plist>