<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gemini_api_key</key>
	<string>AIzaSyCOeGuaFJ-x9l0HkBNCVCX--pVElqLooPs</string>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiandvbmcyNTI5IiwiYSI6ImNtN3F1Y3hlejEyZTIycm9wYXJ4YW1jYm4ifQ.IUfpaqGVDgoClVwsDJ0ttw</string>
</dict>
</plist>
